/* 
    Document   : drewscss
    Created on : Jan 27, 2013, 3:04:11 PM
    Author     : Drew
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
hr {color:sienna;}
p {margin-left:20px;font-family:"Times New Roman";font-size:20px;}
body {background-color:#6495ed;}
h1{color:orange;text-align:center;}